In [1]:
import pandas as pd
import os

gh = pd.read_csv("C:/Users/Ted/Desktop/endbegin/test1/Airbnb/airbnb_modified.csv")

In [3]:
gh.head()

,Unnamed: 0,host_name,neighbourhood_group,room_type,price,availability_365,reviews_per_month,Hotel_value
0,0,John,2,Private room,149,365,0.21,514
1,1,Jennifer,1,Entire home/apt,225,355,0.38,580
2,3,LisaRoxanne,2,Entire home/apt,89,194,4.64,283
3,4,Laura,1,Entire home/apt,80,0,0.10,80
4,5,Chris,1,Entire home/apt,200,129,0.59,329

In [4]:
gh_x = gh[['price','availability_365','Hotel_value']]
gh_y = gh[['neighbourhood_group']]

In [5]:
gh_x.head()

   price  availability_365  Hotel_value
0    149               365          514
1    225               355          580
2     89               194          283
3     80                 0           80
4    200               129          329

In [6]:
gh_y.head()

   neighbourhood_group
0                    2
1                    1
2                    2
3                    1
4                    1

In [7]:
from sklearn.model_selection import train_test_split

gh_x_train, gh_x_test, gh_y_train, gh_y_test = train_test_split(gh_x, gh_y, random_state=1)

In [8]:
from sklearn import tree
from sklearn.externals.six import StringIO  
from IPython.display import Image  
from sklearn.tree import export_graphviz
import pydotplus

model = tree.DecisionTreeClassifier()

In [9]:
model

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [10]:
model.fit(gh_x_train, gh_y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [11]:
dot_data = StringIO()

In [12]:
gh_y_predict = model.predict(gh_x_test)

from sklearn.metrics import accuracy_score

accuracy_score(gh_y_test, gh_y_predict)

0.4812487121368226

In [ ]:
export_graphviz(model, out_file=dot_data,  
               filled=True, rounded=True,
                special_characters=True)
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())

In [ ]:
#Image(graph.create_png())

In [15]:
graphviz.Source(dot_data).view()

NameError: name 'graphviz' is not defined